################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/[Pp]ortals/_default/[Ll]ogs/
/[Aa]pp_[Dd]ata/[Ss]earch/